# Ignore generated build files
*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
*.gradle linguist-vendored
*.swift linguist-vendored
*.html linguist-vendored
*.c linguist-vendored
Podfile linguist-vendored